@page
@model IndexModel
@{
    ViewData["Title"] = "Hotel";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hotel Driven</h1>
</div>

<img src="images/room1.jpeg" alt="Room 1" class="room-image">
<img src="images/room2.jpeg" alt="Room 2" class="room-image">
<img src="images/room3.jpeg" alt="Room 3" class="room-image">

